body {
    margin: 0;
    padding: 0;
  }
  
  .layout-body{
    width: 100%;  
  }
  
  .header {
    width: 100%;
    height: 150px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-logo {
    height: 180px;
  }
  
  .pokeball-line-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    background: linear-gradient(
      to bottom,
      red 30%,
      black 30%,
      black 70%,
      white 70%,
      white 100%
    );
  }
  
  .pokeball-circle {
    height: 100px;
  }

  .log-out{
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
    width: 200px; 
    height: 30px; 
    position: absolute; 
    top: 10px; 
    left: 10px;
    cursor: pointer;
  }